body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Palatino Linotype', serif;
  font-weight: bold;
}

blockquote {
  font-size: inherit;
}

pre {
  padding: 0;
  border: none;
}

pre, code {
  font-family: Consolas, monospace;
}

footer.page-footer {
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
}
