extends ../template/layout.pug

append var
  - cfg.title = 'Posts'

block style
  link(rel='stylesheet', href='/style/common.css')

block script
  script(src='/script/common.js')

block content
  include /markdown/post/index.html
