extends ../template/layout.pug

append var
  - cfg.canonical = 'https://www.chuyangliu.com/post/'
  - cfg.title = 'Posts'

block meta
  meta(name='description', content='Posts by Chuyang Liu.')

block style
  link(rel='stylesheet', href='/style/default.css')

block script
  script(src='/script/default.js')

block content
  include /markdown/post/index.html
