extends ../template/layout.pug

append var
  - cfg.title = 'Language Notes (C)'
  - cfg.highlighjs = true

block style
  link(rel='stylesheet', href='/style/default.css')
  link(rel='canonical', href='https://www.chuyangliu.com/post/lang-notes-c.html')

block script
  script(src='/script/default.js')

block content
  include /markdown/post/lang-notes-c.html
