extends ../template/layout.pug

append var
  - cfg.title = 'Language Notes (C++)'
  - cfg.highlighjs = true

block style
  link(rel='stylesheet', href='/style/post.css')

block script
  script(src='/script/post.js')

block content
  include /markdown/post/lang-notes-cpp.html
