extends ../template/layout.pug

append var
  - cfg.title = 'Machine Learning Notes'
  - cfg.canonical = 'https://www.chuyangliu.com/post/ml-notes.html'
  - cfg.mathjax = true

block style
  link(rel='stylesheet', href='/style/default.css')

block script
  script(src='/script/default.js')

block content
  include /markdown/post/ml-notes.html
