extends ../template/layout.pug

append var
  - cfg.title = 'Machine Learning Notes'
  - cfg.mathjax = true

block style
  link(rel='stylesheet', href='/style/common.css')

block script
  script(src='/script/common.js')

block content
  include /markdown/post/ml-notes.html
