extends ../template/layout.pug

append var
  - cfg.title = 'Sum Tree'
  - cfg.mathjax = true

block style
  link(rel='stylesheet', href='/style/default.css')
  link(rel='canonical', href='https://www.chuyangliu.com/post/sum-tree.html')

block script
  script(src='/script/default.js')

block content
  include /markdown/post/sum-tree.html
