extends template/layout.pug

append var
  - cfg.title = 'My Curated List'

block meta
  meta(name='description', content='Curated contents.')

block style
  link(rel='stylesheet', href='/style/default.css')

block script
  script(src='/script/default.js')

block content
  include /markdown/curated.html
