extends template/layout.pug

append var
  - cfg.canonical = 'https://www.chuyangliu.com/'

block meta
  meta(name='description', content='Home page of Chuyang Liu\'s personal website.')
  meta(name='google-site-verification', content='dl48HAftWzPySZzBU4rrT_g5negr_ZUxSDlg3tBBVWw')
  meta(name='msvalidate.01', content='8986D76937A4A972F01CE63E2FCF3D64')

block style
  link(rel='stylesheet', href='/style/index.css')

block script
  script(src='/script/index.js')

block content
  include /markdown/index.html

  form.form-inline
    .form-group
      label.sr-only(for='command')
      input.form-control(type='text', id='command', placeholder='Type any command')
    button(type='submit', id='run', class='btn btn-default') Run

  p
  samp#output
