extends ../template/layout.pug

append var
  - cfg.title = 'Language Notes (C++)'
  - cfg.highlighjs = true

block meta
  meta(name='description', content='C++ programming language notes by Chuyang Liu.')

block style
  link(rel='stylesheet', href='/style/default.css')

block script
  script(src='/script/default.js')

block content
  include /markdown/posts/lang-notes-cpp.html
