extends ../template/layout.pug

append var
  - cfg.title = 'Sum Tree'
  - cfg.mathjax = true

block meta
  meta(name='description', content='Introduction to Sum Tree data structure.')

block style
  link(rel='stylesheet', href='/style/default.css')

block script
  script(src='/script/default.js')

block content
  include /markdown/posts/sum-tree.html
