footer.page-footer
  hr
  ul.list-inline
    li
      p &copy; 2024 Chuyang Liu
    li
      a(href='/') About
    li
      a(href='/posts/') Posts
    li
      a(href='https://github.com/chuyangliu/') GitHub
